.lead__title {
    max-width: 720px;
    font-size: 8em;
    font-style: normal;
    text-align: center;
    line-height: 100px;
    color: #ffffff;
    font-weight: 900;
    margin: 0 0;
}

@media (min-width: 320px) and (max-width: 767px) {
    .lead__title {
        max-width: calc(100% - 32px);
        font-size: 3.3em;
        line-height: 44px;
    }
}