.place {
    display: grid;
    grid-template-areas: "place__title place__website" "place__image place__paragraphs";
    grid-template-columns: 460px 1fr;
    grid-template-rows: repeat(2, auto);
    row-gap: 48px;
    column-gap: 40px;
    max-width: 100%;
    padding-bottom: 80px;
}

@media screen and (max-width: 1279px) {
    .place {
        grid-template-columns: minmax(440px, 1fr) 1fr;
    }
}

@media screen and (max-width: 1024px) {
    .place {
        grid-template-columns: 440px 1fr;
    }
}

@media screen and (max-width: 1023px) {
    .place {
        grid-template-columns: minmax(340px, 1fr) 1fr;
    }
}

@media screen and (max-width: 768px) {
    .place {
        column-gap: 28px;
        grid-template-columns: 340px 1fr;
        padding-bottom: 73px;
    }
    .place:last-child {
        padding-bottom: 88px;
    }
}

@media (min-width: 425px) and (max-width:767px) {
    .place {
        padding-left: 24px;
        grid-template-areas: "place__title" "place__website" "place__image" "place__paragraphs";
        grid-template-columns: 100%;
    }
}

@media (min-width: 320px) and (max-width: 424px) {
    .place {
        column-gap: 32px;
        grid-template-areas: "place__title" "place__website" "place__image" "place__paragraphs";
        padding-left: 0;
        grid-template-columns: 100%;
        padding-bottom: 50px;
    }
    .place:last-child {
        padding-bottom: 66px;
    }
}